<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><br>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr class="text-center bg-primary">
            <th>Name:</th>
            <th>Email ID:</th>
            <th>Company:</th>
        </tr>
        </thead>
        <tbody>
        {% for i in results %}
            <tr class="text-center">
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<center><a href="{{url_for('display')}}" class="btn btn-warning">Go To MainPage</a></center>
</div>
</body>
</html>